
.shule-color {
    color: #00AEEF;
}
.total-amount {
    font-size: 12px;
    font-weight: 700;
}
.table-bordered,
.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6 !important;
}
#invoice-footer p,
.print-footer p{
margin-bottom: 0;
font-size: 0.85rem;
}
.font-small-1 {
    font-size: .7rem!important;
}
.invoice-details h6 {
    text-transform: none !important;
}
.invoice-items-table .table td,
.invoice-items-table .table th {
    padding: .5rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.print-date{
    font-size: 8px !important;
}
.print-title{
    font-size: 1.3em !important;
}
.pt-02 {padding-top: 0.2rem!important;}
@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    .card.invoice-page {
        border: none !important;
        margin-top: 4pt !important;;
    }
    .invoice-company-details{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .invoice-items-table .table td,
    .invoice-items-table .table th {
        padding: 4pt !important;
        font-size: 8pt !important;
    }
}
@page {
  margin: 2mm
}

  .csE9FBC897 {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAAAWCAYAAAAb1tRhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIJSURBVGhD7ZIxjgRBCAP3/5/eawJLXAlDCMGWNIHLDlBrPt9DfD6ff59grnAbefbOB10XTL3gLm9dpt/mziUP90jMFW4jz975oOuCqRfc5a3L9NvcueThHom5wm3k2TsfdF0w9YK7vHWZfps7lzzcIzFXuI08e+eDrgumXnCXty7Tb3Pnkod7JOYKt5Fn73zQdcHUC+7y1mX6be5c8nCPxFzhNvLsnQ+6Lph6wV3euky/zZ1LHu6RmCvcRp6980HXBVMvuMtbl+m3uXPJwz0Sc4XbyLN3Pui6YOoFd3nrMv02dy55uEdirnAbefbOB10XTL3gLm9dpt/mziUP90jMFW4jz975oOuCqRfc5a3L9NvcueThHom5wm3k2TsfdF0w9YK7vHWZfps7lzzcIzFXuI08e+eDrgumXnCXty7Tb3Pnkod7JOYKt5Fn73zQdcHUC+7y1mX6be5c8nCPxFzhNvLsnQ+6Lph6wV3euky/zZ1LHu6RmCvcRp6980HXBVMvuMtbl+m3uXPJwz0Sc4XbyLN3Pui6YOoFd3nrMv02dy55uEdirnAbefbOB10XTL3gLm9dpt/mziUP90jMFW4jz975oOuCqRfc5a3L9NvcueThHom5wm3k2TsfdF0w9YK7vHWZfps7lzzcIzFXuI08e+eDrgumXnCXty7Tb3Pnkh8n+f0gPxq+3z+eOmevABP8mQAAAABJRU5ErkJggg==);background-repeat:no-repeat;}
  .cs7F101F4B {color:#000000;background-color:transparent;border-left:#000000 1px dashed;border-top:#000000 1px dashed;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .csD180A84F {color:#000000;background-color:transparent;border-left:#000000 1px dashed;border-top-style: none;border-right-style: none;border-bottom:#000000 1px dashed;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs24A7DD87 {color:#000000;background-color:transparent;border-left:#000000 1px dashed;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs9E7F12BC {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px dashed;border-right:#000000 1px dashed;border-bottom-style: none;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs22C1C8C7 {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px dashed;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs68A90932 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px dashed;border-bottom:#000000 1px dashed;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs20F72479 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px dashed;border-bottom-style: none;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs7DE5FF43 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom:#000000 1px dashed;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs101A94F7 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:13px; font-weight:normal; font-style:normal; }
  .cs9C3F2546 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:16px; font-weight:bold; font-style:italic; padding-left:2px;}
  .cs5D13E758 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:16px; font-weight:bold; font-style:italic; padding-top:5px;padding-left:2px;}
  .cs9E712815 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Times New Roman; font-size:16px; font-weight:bold; font-style:normal; padding-left:2px;}
  .cs62CC900E {color:#00BFFF;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Trebuchet MS; font-size:24px; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
  .cs739196BC {color:#5C5C5C;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Segoe UI; font-size:11px; font-weight:normal; font-style:normal; }
  .csF7D3565D {height:0px;width:0px;overflow:hidden;font-size:0px;line-height:0px;}
